<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Welcome, {{ request.user.username }}</p>
    <form action="/prediction" method="post">
      {% csrf_token %}
      <label for="Varietas">Varietas:</label>
      <select id="Varietas" name="Varietas">
        <option hidden>Pilih Varietas</option>
        <option value="0.0">Beras Hitam</option>
        <option value="0.6">Ciheran</option>
        <option value="0.4">IR 64</option>
        <option value="0.8">Mi Kongga</option>
        <option value="0.2">Beras Merah</option>
        <option value="1.0">Pandan Wangi</option>
      </select>

      <label for="Warna">Warna:</label>
      <select id="Warna" name="Warna">
        <option value="0.67">Merah</option>
        <option value="0.0">Coklat</option>
        <option value="0.33">Hitam</option>
        <option value="1.0">Putih</option>
      </select>

      <label for="rasa">Rasa:</label>
      <select id="rasa" name="rasa">
        <option value="0.0">Pulen</option>
        <option value="1.0">Sangat Pulen</option>
      </select>

      <label for="Musim">Musim:</label>
      <select id="Musim" name="Musim">
        <option value="0.0">Hujan</option>
        <option value="1.0">Kemarau</option>
      </select>

      <label for="Penyakit">Penyakit:</label>
      <select id="Penyakit" name="Penyakit">
        <option value="0.0">Burung</option>
        <option value="0.25">Penggerek Batang</option>
        <option value="0.5">Tikus</option>
        <option value="1.0">Wereng Hijau</option>
        <option value="0.75">Wereng Coklat</option>
      </select>

      <label for="teknik">Teknik:</label>
      <select id="teknik" name="teknik">
        <option value="0.0">Jajar Legowo</option>
        <option value="1.0">SRI</option>
      </select>

      <label for="PH">PH:</label>
      <select id="PH" name="PH">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="boron">Boron:</label>
      <input type="number" name="boron" id="boron" />
      <label for="fosfor">Fosfor:</label>
      <input type="number" name="fosfor" id="fosfor" />
      <button type="submit" name="prediction">Klasifikasikan</button>
    </form>
    {% if results %}
    <h2>Hasil Klasifikasi</h2>
    <table border="1">
      <thead>
        <tr>
          <th>No</th>
          <th>Varietas</th>
          <th>Warna</th>
          <th>Rasa</th>
          <th>Musim</th>
          <th>Penyakit</th>
          <th>Teknik</th>
          <th>PH</th>
          <th>Boron</th>
          <th>Fosfor</th>
          <th>Prediction</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ result.varietas }}</td>
          <td>{{ result.warna }}</td>
          <td>{{ result.rasa }}</td>
          <td>{{ result.musim }}</td>
          <td>{{ result.penyakit }}</td>
          <td>{{ result.teknik }}</td>
          <td>{{ result.ph }}</td>
          <td>{{ result.boron }}</td>
          <td>{{ result.fosfor }}</td>
          <td>{{ result.prediction }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
